<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="./styles.css"/>
    <title>Customer Page</title>
</head>
<body>
    <h1>CUSTOMER PAGE</h1>
    <a href="/customers/add_new"><h3>Add a Customer</h3></a>

    <ul>
        <li th:each="customer: ${customers}">
            <p>
                <a th:href="'/customers/' + ${customer.id}">
                    <span th:text="'ID: ' + ${customer.id}"></span>
                </a>
                <span th:text="' Name: ' + ${customer.lastName} + ', ' + ${customer.firstName}"></span>
            </p>
        </li>
    </ul>

</body>
</html>