<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Customer Page</title>
    <link rel="stylesheet" href="./styles.css"/>
</head>
<body>
    <h1>CUSTOMER PAGE</h1>
    <a href="/customers/add_new"><h3>Add a Customer</h3></a>
    <a href="/admins-only"><h3>Admins Only</h3></a>

    <ul>
        <li th:each="customer: ${customers}">
            <p>
                <a th:href="'/customers/' + ${customer.id}">
                    <span th:text="'ID: ' + ${customer.id}"></span>
                </a>
                <span th:text="' Name: ' + ${customer.lastName} + ', ' + ${customer.firstName}"></span>
            </p>
        </li>
    </ul>
</body>
</html>