<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>View Customer</title>
    <link rel="stylesheet" href="./styles.css"/>
</head>
<body>

    <header>
        <h1 style="text-align: center">VIEW CUSTOMER</h1>
    </header>

    <div style="display: flex; flex-direction: row; justify-content: space-around">
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
        <a href="/customers"><h3>Back</h3></a>
    </div>



    <br/>

    <div style="display: flex; flex-direction: column" class="viewCustomer">
            <p style="display: flex; justify-content: center">
                <span style="font-size: 1.5em" th:text="'ID: ' + ${customer.id}"></span>
                <span style="font-size: 1.5em" th:text="' | Name: ' + ${customer.lastName} + ', ' + ${customer.firstName}"></span>
            </p>
            <p style="display: flex; justify-content: center">
                <span style="font-size: 1.5em" th:text="'   Email: ' + ${customer.email} + ' | '"></span>
                <span style="font-size: 1.5em" th:text="' Phone: ' + ${customer.phone}"></span>
            </p>
    </div>

</body>
</html>