<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="./styles.css"/>
    <title>View Customer</title>
</head>
<body>

    <h1>VIEW CUSTOMER</h1>

    <div class="viewCustomer">
        <a th:href="/viewCustomer/${customer.id}"><p>ID: </p><span th:text="${customer.id}"></span></a>
        <p>Name: <span th:text="${customer.lastName}, ${customer.firstName}"></span></p>
        <p>Email: <span th:text="${customer.email}"></span></p>
        <p>Phone: <span th:text="${customer.phone}"></span></p>
    </div>
    <br/>
    <a href="/customerPage"><h3>Back</h3></a>

</body>
</html>