<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="./styles.css"/>
    <title>View Customer</title>
</head>
<body>

    <h1>VIEW CUSTOMER</h1>

    <div class="viewCustomer">
            <p>
                <span th:text="'ID: ' + ${customer.id}"></span>
                <span th:text="'ID: ' + ${customer.id}"></span>
                <span th:text="' Name: ' + ${customer.lastName} + ', ' + ${customer.firstName}"></span>
            </p>
            <p>
                <span th:text="'   Email: ' + ${customer.email} + ' | '"></span>
                <span th:text="' Phone: ' + ${customer.phone}"></span>
            </p>
    </div>
    <br/>
    <a href="/customers"><h3>Back</h3></a>

</body>
</html>